*{
    font-family: 'Kanit', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body{
   
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(45deg, #37c5af, #db92e1);
}

.calculator{
    position: relative;
    max-width: 300px;
    width: 100%;
    border-radius: 15px;
    padding: 20px 21px 22px;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
}
.buttons{
    display: grid;
    grid-gap: 13px;
    grid-template-columns: repeat(4,1fr);
    
}
.display{
    height: 80px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 25px;
     background-color: #c2fff6;
    text-align: right;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    color: rgba(0, 19, 48, 0.923);
    pointer-events: none;
}
.buttons button{
    padding: 10px;
    border-radius: 20%;
    border: none;
    background-color: #9e16f863;
    font-size: 20px;
    

}
.buttons button:active {
    transform: scale(1);
}

.equalbtn{
    color: #ff0000b5;
}
.operator{
    color: rgb(255, 255, 255);
}
